# Autotool aux files
Makefile
Makefile.in
aclocal.m4
configure
compile
depcomp
install-sh
missing
stamp-h1
autom4te.cache/
config.*

budgurse
src/*.o
src/.deps/
src/.dirstamp

unit_tests
test-driver
*.trs
test/*.o
test/.dirstamp
test/.deps/
test.db

TODO
*.log

